<?xml version="1.0" encoding="utf-8"?>

<config>
		<fieldset name="reports" label="COM_MSTAT_CONFIG_REPORTS_LABEL" description="COM_MSTAT_CONFIG_REPORTS_DESC">
			<field name="continued" type="radio" label="COM_MSTAT_CONFIG_FIELD_CONTINUED_LABEL" description="COM_MSTAT_CONFIG_FIELD_CONTINUED_DESC" default="0">
				<option value="0">No</option>
				<option value="1">Yes</option>
			</field>
			<field name="except_iplist" type="text" label="COM_MSTAT_CONFIG_EXCEPTIP_LABEL" description="COM_MSTAT_CONFIG_EXCEPTIP_DESC" size="70" class="inputbox" required="false" default="" />
			<field name="except_userlist" type="text" label="COM_MSTAT_CONFIG_USERID_LABEL" description="COM_MSTAT_CONFIG_USERID_DESC" size="70" class="inputbox" required="false" default="" />
		</fieldset>
        <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
        	<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_mstat" section="component" />
        </fieldset>
</config>

